<html ng-app="vlc">
    <head>
        <title>Raphael Play</title>
        <script type="text/javascript" src="web/angular.min.js"></script>
        <script type="text/javascript" src="web/raphael-min.js"></script>
        <script type="text/javascript" src="web/scrollglue.js"></script>

        <script type="text/javascript" src="web/cparser.js"></script>
        <script type="text/javascript" src="web/drawer.js"></script>
        <script type="text/javascript" src="web/vlc.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body ng-controller="vlc-controller">
        <div id="container">
            <div id="canvas_container"></div>
            <div id="footer">
                <img src="legend.png" alt="Legend" width="400">
                <input ng-model="numberOfDevices" placeholder="Number of devices" type="number"> </input>
                <input ng-model="packageSize" placeholder="Size of packages in bytes" type="number"> </input>
                <input ng-model="offers" placeholder="Number of offers to generate" type="number"> </input>
                <input type="button" id="btnSetup" value="Setup" ng-Click="onSetup()">
                <!-- fancy scrolling: https://github.com/Luegg/angularjs-scroll-glue -->
                <textarea scroll-glue id="console_text" rows="10" readonly>{{scrolltext}}</textarea>
            </div>
        </div>
    </body>
</html>